@model CategoryProductMVC.Models.Product

@{
    ViewBag.Title = "DeleteProduct";
}

<h2>DeleteProduct</h2>
@using (Html.BeginForm("DeleteProduct", "Product", FormMethod.Post))
{
    @Html.HiddenFor(item => item.ProductId)
    <p>
        Product Name: @Html.TextBoxFor(item => item.ProductName, new { @readonly = "readonly" })
    </p>
    <p>
        <input type="submit" value="Delete Product" /> |
        @Html.ActionLink("Back to List", "DisplayProducts")
    </p>
}